<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base_generic.html" %}

    {% block title %}Add Item to {{ watchlist.name }}{% endblock %}

    {% block content %}
    <h2>Add a New Item to {{ watchlist.name }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Item</button>
    </form>
    <a href="{% url 'watchlist_detail' watchlist.id %}">Back to {{ watchlist.name }}</a>
    {% endblock %}

</body>
</html>