<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base_generic.html" %}
    {% block content %}
      <h1>My Watchlists</h1>
      <ul>
        {% for watchlist in watchlists %}
          <li><a href="{% url 'watchlist_detail' watchlist.id %}">{{ watchlist.name }}</a></li>
        {% endfor %}
      </ul>
      <a href="{% url 'add_watchlist' %}">Add new watchlist</a>
    {% endblock %}
     
</body>
</html>